<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>❤️YOULATTE</title>
    <link rel="stylesheet" href="./static/styles/style.css">

      <style >

    /* Full-width input fields */

    </style>

  </head>
  <body>
    <!-- the start of the header -->
    <div class="header">
        <div class="container">
          <div class="navbar">
            <div class="logo">
                <h2 style="">❤️YOULATTE</h2>
            </div>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="about">About</a></li>
                <li><button id="theme-button">Dark Mode</button></li>

              </ul>
            </nav>
            <a href="https://www.yelp.com/biz/love-you-latte-glendale?osq=Love+You+Latte"><img src="./static/img/yelp.png" width="30px" height="30px" alt=""></a>

          </div>
        </div>

      </div>

      <!-- the end of header -->
  <div class="s-container">


 <!-- Featured products -->
 <div class="small-container">

 <div class="row">
   <div class="col-2">
     <h1>{{profile['about'] | safe}}
     </h1>
     <p><br>inspired by the philosophy to bring people together <br>to share the things we love most- good food, good coffee & good company. This is an unoficial website inspired by the real love you latte</p>
     <a href="menu" class="btn"> Drink up</a>
   </div>
   <div class="col-2">
       <img src="./static/img/COFFEE-2.jpg" alt="">
   </div>
 </div>

   <h2 class="ourCafe revealable">About us 🫶 📜 </h2>
  <p id=ourcafeText> Welcome to Love You Latte, a coffee shop and cafe in Glendale inspired by the philosophy to bring people together to share the things we love most- good food, good coffee & good company. So, whether you're looking for a breakfast boost, a lunchtime snack, or one of our tasty beverages, you'll find something to hit the spot at Love You Latte.</p>
    
   <h2 class="title">Signature Drinks ☕️</h2>
   <div class="row">
    {% for x in range(profile["featuredProducts"] | length) %}
    <div class="col-4">
      <a href="menu">
        <!-- <img src="./static/product-img/redbull.png" alt=""> -->
         {{ profile["featuredProducts"][x]["image"] | safe }}
        <h4>{{ profile["featuredProducts"][x]["name"] }}</h4>
        <p>{{ profile["featuredProducts"][x]["price"] }}</p>
      </a>
     </div>  

    {% endfor %}
   </div>

       <h2 class="title">Tea Based Products 🍵</h2>
       <div class="row">

       {% for x in range(profile["LatestProducts"] | length) %}
         <div class="col-4">
          <a href="menu">
             {{ profile["LatestProducts"][x]["image"] | safe }}
            <h4>{{ profile["LatestProducts"][x]["name"] }}</h4>
            <p>{{ profile["LatestProducts"][x]["price"] }}</p>
          </a>
         </div>


      {% endfor %}
       </div>
 </div>

 </div>

 <!-- adding the footer -->
<div class="footer" style="">
<div class="col-6">
  <h3>useful Links</h3>
  <a href="/">Home</a>
  <a href="menu">Menu</a>
  <a href="about">About</a>
</div>


<div class="col-7">
  <h3>The real website</h3>
  <a href="https://www.loveyoulatte.cafe">Click Me</a>
</div>


<div class="col-8">
  <h3>Location</h3>
  <p>275 W Lexington Dr3<br>Glendale, California</p>
</div>


</div>
<!-- second footer -->
<div class="footer2" style="">  
  Made with ❤️ and ☕️
</div>  
<!-- end of footer -->

  <script src="./static/index.js"></script>


    </body>
</html>