<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All products - RedStore</title>
    <link rel="stylesheet" href="./static/styles/style.css">

      <style >

    /* Full-width input fields */

    </style>

  </head>
  <body>
    <!-- the start of the header -->
    <div class="header">
        <div class="container">
          <div class="navbar">
            <div class="logo">
                <h2 style="font-size: 40px; color: black;">❤️YOULATTE</h2>
            </div>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="menu">Products</a></li>
                <li><a href="about">About</a></li>
              </ul>
            </nav>
            <a href="https://www.yelp.com/biz/love-you-latte-glendale?osq=Love+You+Latte"><img src="./static/img/yelp.png" width="30px" height="30px" alt=""></a>

          </div>
        </div>

      </div>

      <!-- the end of header -->
  <div class="s-container">


 <!-- Featured products -->
 <div class="small-container">

 <div class="row">
   <div class="col-2">
     <h1>{{profile['about'] | safe}}
     </h1>
     <p><br>inspired by the philosophy to bring people together <br>to share the things we love most- good food, good coffee & good company.</p>
     <a href="products.php" class="btn"> Drink up</a>
   </div>
   <div class="col-2">
       <img src="./static/img/COFFEE-2.jpg" alt="">
   </div>
 </div>

   <h2 class="ourCafe">About us ☕️</h2>
  <p id=ourcafeText> Welcome to Love You Latte, a coffee shop and cafe in Glendale inspired by the philosophy to bring people together to share the things we love most- good food, good coffee & good company. So, whether you're looking for a breakfast boost, a lunchtime snack, or one of our tasty beverages, you'll find something to hit the spot at Love You Latte.</p>
    
   <h2 class="title">Featured Products 1</h2>
   <div class="row">
    {% for x in range(profile["featuredProducts"] | length) %}
    <div class="col-4">
      <a href="productDetails.php?id=1">
        <!-- <img src="./static/product-img/redbull.png" alt=""> -->
         {{ profile["featuredProducts"][x]["image"] | safe }}
        <h4>{{ profile["featuredProducts"][x]["name"] }}</h4>
        <p>$10.20</p>
      </a>
     </div>  

    {% endfor %}
   </div>


   <h2 class="title">Featured Products</h2>
   <div class="row">


     <div class="col-4">
      <a href="productDetails.php?id=1">
        <img src="./static/product-img/redbull.png" alt="">
        <h4>Red bull</h4>
        <p>$10.20</p>
      </a>
     </div>


     <div class="col-4">
      <a href="productDetails.php?id=2">
        <img src="./static/product-img/yerbaOrigi.png" alt="">
        <h4>Yerba Mate</h4>
        <p>$15.00</p>
      </a>
     </div>

     <div class="col-4">
      <a href="productDetails.php?id=3">
        <img src="./static/product-img/starblast.png" alt="">
        <h4>Bang (star)</h4>
        <p>$2.00</p>
      </a>
     </div>

     <div class="col-4">
      <a href="productDetails.php?id=4">
        <img src="./static/product-img/rockstar.png" alt="">
        <h4>rockstar</h4>
        <p>$20.00</p>
      </a>
     </div>

   </div>
       <h2 class="title">Latest Products</h2>

       <div class="row">

         <div class="col-4">
          <a href="productDetails.php?id=6">
            <img src="./static/product-img/purpleHaze.png" alt="">
            <h4>Bang (purple)</h4>
            <p>$210.00</p>
          </a>
         </div>

         <div class="col-4">
          <a href="productDetails.php?id=7">
            <img src="./static/product-img/monster.png" alt="">
            <h4>monster</h4>
            <p>$29.00</p>
          </a>
         </div>

         <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Bang (key)</h4>
            <p>$210.00</p>
          </a>
         </div>


       </div>
 </div>

 </div>











    </body>
</html>