<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All products - RedStore</title>
    <link rel="stylesheet" href="./static/styles/style.css">

      <style >

    </style>

  </head>
  <body>
  <!-- the start of the header -->
    <div class="header">
        <div class="container">
          <div class="navbar">
            <div class="logo">
                <h2 style="font-size: 40px; color: black;">❤️YOULATTE</h2>
            </div>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="menu">Products</a></li>
                <li><a href="about">About</a></li>
              </ul>
            </nav>
            <a href="https://www.yelp.com/biz/love-you-latte-glendale?osq=Love+You+Latte"><img src="./static/img/yelp.png" width="30px" height="30px" alt=""></a>

          </div>
        </div>

      </div>

      <!-- the end of header -->
      <div class="s-container">
          <!-- Featured products -->
 <div class="small-container">
   <h2 class="title">Signature Drink</h2>
   <div class="row">


     <div class="col-4">
      <a href="productDetails.php?id=1">
        <img src="./static/product-img/redbull.png" alt="">
        <h4>Pink Late</h4>
        <p>$10.20</p>
      </a>
     </div>
     <div class="col-4">
      <a href="productDetails.php?id=2">
        <img src="./static/product-img/yerbaOrigi.png" alt="">
        <h4>Butterfly Pea Tea Latte</h4>
        <p>$15.00</p>
      </a>
     </div>

     <div class="col-4">
      <a href="productDetails.php?id=3">
        <img src="./static/product-img/starblast.png" alt="">
        <h4>Dirty Rose Latte</h4>
        <p>$2.00</p>
      </a>
     </div>

     <div class="col-4">
      <a href="productDetails.php?id=4">
        <img src="./static/product-img/rockstar.png" alt="">
        <h4>Chocolate Chip Cookie Latte</h4>
        <p>$20.00</p>
      </a>
     </div>

     <div class="col-4">
      <a href="productDetails.php?id=4">
        <img src="./static/product-img/rockstar.png" alt="">
        <h4>Cookies N' Cream latte</h4>
        <p>$20.00</p>
      </a>
     </div>

      <div class="col-4">
      <a href="productDetails.php?id=4">
        <img src="./static/product-img/rockstar.png" alt="">
        <h4>Lavender Latte (Hot/Iced)</h4>
        <p>$20.00</p>
      </a>
     </div>

     <div class="col-4">
      <a href="productDetails.php?id=4">
        <img src="./static/product-img/rockstar.png" alt="">
        <h4>Rose Matcha (Hot/Iced)</h4>
        <p>$20.00</p>
      </a>
     </div>

     <div class="col-4">
      <a href="productDetails.php?id=4">
        <img src="./static/product-img/rockstar.png" alt="">
        <h4> Dirty Chai Latte (Iced/Hot)</h4>
        <p>$20.00</p>
      </a>
     </div>

  <div class="col-4">
      <a href="productDetails.php?id=4">
        <img src="./static/product-img/rockstar.png" alt="">
        <h4> Salted Caramel hot coco</h4>
        <p>$20.00</p>
      </a>
     </div>

   </div>
       <h2 class="title">Espresso</h2>

       <div class="row">

         <div class="col-4">
          <a href="productDetails.php?id=6">
            <img src="./static/product-img/purpleHaze.png" alt="">
            <h4>Double Espresso (Hot/Iced)</h4>
            <p>$210.00</p>
          </a>
         </div>

         <div class="col-4">
          <a href="productDetails.php?id=7">
            <img src="./static/product-img/monster.png" alt="">
            <h4>Americano (Hot/Iced)</h4>
            <p>$29.00</p>
          </a>
         </div>

         <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Cortado (Hot)</h4>
            <p>$210.00</p>
          </a>
         </div>

          <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Cappuccino (Hot/Iced)</h4>
            <p>$210.00</p>
          </a>
         </div> 

          <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Latte (Hot/Iced)</h4>
            <p>$210.00</p>
          </a>
         </div>
          <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Latte (Hot/Iced)</h4>
            <p>$210.00</p>
          </a>
         </div>
          <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Mocha (Hot/Iced)</h4>
            <p>$210.00</p>
          </a>
         </div>
          <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Single Add Shot</h4>
            <p>$210.00</p>
          </a>
         </div>
          <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Salted Butterscotch Latte (Hot/Iced)</h4>
            <p>$210.00</p>
          </a>
         </div>
          <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Cold Brew</h4>
            <p>$210.00</p>
          </a>
         </div>

       </div>

        <h2 class="title">Matcha Latte</h2>

       <div class="row">

         <div class="col-4">
          <a href="productDetails.php?id=6">
            <img src="./static/product-img/purpleHaze.png" alt="">
            <h4>Matcha Latte</h4>
            <p>$6</p>
          </a>
         </div>

         <div class="col-4">
          <a href="productDetails.php?id=7">
            <img src="./static/product-img/monster.png" alt="">
            <h4>Vanilla Matcha latte</h4>
            <p>$6.50</p>
          </a>
         </div>

         <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Peppermint Vanilla Matcha</h4>
            <p>$6.25</p>
          </a>
         </div>

        <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Strawberry Matcha</h4>
            <p>$7</p>
          </a>
         </div>

       </div>

        <h2 class="title">Loose Leaf Tea</h2>

       <div class="row">

         <div class="col-4">
          <a href="productDetails.php?id=6">
            <img src="./static/product-img/purpleHaze.png" alt="">
            <h4>Green Tea (Hot/Iced)</h4>
            <p>$4.50</p>
          </a>
         </div>

         <div class="col-4">
          <a href="productDetails.php?id=7">
            <img src="./static/product-img/monster.png" alt="">
            <h4>Earl Grey (Hot/Iced)</h4>
            <p>$4.50</p>
          </a>
         </div>

         <div class="col-4">
          <a href="productDetails.php?id=8">
            <img src="./static/product-img/keyLime.png" alt="">
            <h4>Hibiscus Flowers</h4>
            <p>$4.50</p>
          </a>
         </div>


       </div>

 </div>



      </div>











      </body>




</html>
