<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All products - RedStore</title>
    <link rel="stylesheet" href="./static/styles/style.css">

      <style >

    </style>

  </head>
  <body>
  <!-- the start of the header -->
    <div class="header">
        <div class="container">
          <div class="navbar">
            <div class="logo">
                <h2 style="font-size: 40px; color: black;">❤️YOULATTE</h2>
            </div>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="menu">Products</a></li>
                <li><a href="about">About</a></li>
              </ul>
            </nav>
            <a href="https://www.yelp.com/biz/love-you-latte-glendale?osq=Love+You+Latte"><img src="./static/img/yelp.png" width="30px" height="30px" alt=""></a>

          </div>
        </div>

      </div>

      <!-- the end of header -->
      <div class="s-container">
          <!-- Featured products -->
 <div class="small-container">
   <h2 class="title">Signature Drinks</h2>
   <div class="row">
    {% for x in range(profile["featuredProducts"] | length) %}
    <div class="col-4">
      <a href="productDetails.php?id=1">
        <!-- <img src="./static/product-img/redbull.png" alt=""> -->
         {{ profile["featuredProducts"][x]["image"] | safe }}
        <h4>{{ profile["featuredProducts"][x]["name"] }}</h4>
        <p>{{ profile["featuredProducts"][x]["price"] }}</p>
      </a>
     </div>  

    {% endfor %}
   </div>

    <h2 class="title">Matcha</h2>
   <div class="row">
    {% for x in range(profile["full_teaBasedMenu"] | length) %}
    <div class="col-4">
      <a href="productDetails.php?id=1">
        <!-- <img src="./static/product-img/redbull.png" alt=""> -->
         {{ profile["full_teaBasedMenu"][x]["image"] | safe }}
        <h4>{{ profile["full_teaBasedMenu"][x]["name"] }}</h4>
        <p>{{ profile["full_teaBasedMenu"][x]["price"] }}</p>
      </a>
     </div>  

    {% endfor %}
   </div>

    <h2 class="title">Espresso</h2>
   <div class="row">
    {% for x in range(profile["expressoFull"] | length) %}
    <div class="col-4">
      <a href="productDetails.php?id=1">
        <!-- <img src="./static/product-img/redbull.png" alt=""> -->
         {{ profile["expressoFull"][x]["image"] | safe }}
        <h4>{{ profile["expressoFull"][x]["name"] }}</h4>
        <p>{{ profile["expressoFull"][x]["price"] }}</p>
      </a>
     </div>  

    {% endfor %}
   </div>
        <h2 class="title">Loose Leaf Tea</h2>

       <div class="row">
        {% for x in range(profile["Loose_Leaf_Tea_full"] | length) %}
            <div class="col-4">
              <a href="productDetails.php?id=1">
                <!-- <img src="./static/product-img/redbull.png" alt=""> -->
                 {{ profile["Loose_Leaf_Tea_full"][x]["image"] | safe }}
                <h4>{{ profile["Loose_Leaf_Tea_full"][x]["name"] }}</h4>
                <p>{{ profile["Loose_Leaf_Tea_full"][x]["price"] }}</p>
              </a>
             </div>  
            {% endfor %}        
       </div>

 </div>

      </div>



      </body>




</html>
